{% extends "page.html" %}
{% set title = "Clients" %}
{% set pagetype = "client" %}

{% block extras %}
{{ super() }}
{# data selection #}
<div class="row mt-3 justify-content-start d-print-none">
    <div class="col col-auto mb-2 pr-0 order-first">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                Select a client
            </button>
            <div class="dropdown-menu">
                {% for client in data %}
                <button type="button" data-toggle="collapse" class="dropdown-item" data-target="#collapse-{{ client.id }}">{{ client.name }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col mb-2 order-lg-last order-xl-6">
        <div class="btn-group d-none d-lg-inline-flex">
            {% for month in months %}
            <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapse-{{ month }}">{{ month }}</button>
            {% endfor %}
        </div>
        <div class="btn-group d-inline-flex d-lg-none">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                Select a month
            </button>
            <div class="dropdown-menu">
                {% for month in months %}
                <button type="button" data-toggle="collapse" class="dropdown-item" data-target="#collapse-{{ month }}">{{ month }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col col-xl-auto mb-2 align-self-center order-lg-6 order-xl-last">
        <div class="float-right">
            <button type="button" class="btn btn-info" onclick="print();"><i class="fas fa-print"></i></button>
        </div>
    </div>
</div>

{# data printouts per client #}
<div class="row mb-2">
    <div class="col">
        <div class="accordion" id="month-accordion">
            {% for month in months %}
            <div class="card border-0 bg-light rounded">
                <div id="collapse-{{ month }}" class="collapse" data-parent="#month-accordion">
                    <div class="card-body">
                        <div class="accordion" id="client-accordion-{{ month }}">
                            <div class="card border-0 bg-light">
                                <div class="collapse show" data-parent="#client-accordion-{{ month }}">
                                    <div class="card-body p-0">
                                        <span class="text-muted">Please select a client</span>
                                    </div>
                                </div>
                            </div>
                            {% for client in data %}
                            <div class="card border-0 bg-light">
                                <div id="collapse-{{ client.id }}" class="collapse" data-parent="#client-accordion-{{ month }}">
                                    <div class="card-body p-0">
                                        <h2 class="text-success">{{ client.name }} - {{ month }}</h2>
                                        {% for plant in client.plants %}
                                        {% if month in plant.months %}
                                        <h3 class="text-info">{{ plant.name }}</h3>
                                        {% endif %}
                                        {% for job in plant.jobs %}
                                        {% if month in job.months %}
                                        <p><strong>{{ job.name }}: </strong>{{ job.description }}</p>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row d-print-none">
    <div class="col">
        <hr class="mt-0">
    </div>
</div>
{% endblock %}

{% macro formcontents(client=None) %}
<!--suppress HtmlUnknownAttribute -->
<div class="form-group row">
    <label class="control-label" for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter client name"
        value="{% if client is not none %}{{ client.name }}{% endif %}">
</div>
<div class="form-group row">
    {% for plant in plant_list %}
    <div class="col-12 col-sm-6 col-md-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   id="{% if client is not none %}edit-{{ client.id }}-{% endif %}{{ plant.id }}"
                   name="plant-{{ plant.id }}" {% if client is not none and plant.id in client.pids %}checked{% endif %}>
            <label class="custom-control-label" for="{% if client is not none %}edit-{{ client.id }}-{% endif %}{{ plant.id }}">{{ plant.name }}</label>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% block thead %}
{{ super() }}
<th scope="col">Client name</th>
<th scope="col">Plants</th>
<th scope="col" style="width: 80px"></th>
{% endblock %}

{% block tbody %}
{{ super() }}
{% for client in data %}
<tr>
    <th scope="row">{{ client.name }}</th>
    <td>{{ client.plants|map(attribute='name')|join(', ') }}</td>
    <td><button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal"
                id="edit-client-{{ client.id }}" data-target="#popup-div-edit-{{ client.id }}">Edit</button></td>
</tr>
{% endfor %}
{% endblock %}