{% extends "page.html" %}
{% set title = "Maintenance" %}
{% set pagetype = "maintenance job" %}

{% block formcontents %}
{{ super() }}
<div class="form-group row">
    <label class="control-label" for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter maintenance name">
</div>
<div class="form-group row">
    <label class="control-label" for="description">Description:</label>
    <textarea class="form-control" rows="3" id="description" name="desc" style="resize: none;"></textarea>
</div>
<div class="form-group row">
    {% for month in month_list %}
    <div class="col-6 col-sm-3">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{ month }}" name="{{ month }}">
            <label class="custom-control-label" for="{{ month }}">{{ month }}</label>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block thead %}
{{ super() }}
<th scope="col">Name</th>
<th scope="col">Description</th>
<th scope="col">Months</th>
<th scope="col" style="width: 80px"></th>
{% endblock %}

{% block tbody %}
{{ super() }}
{% for job in data %}
<tr>
    <th scope="row">{{ job.name }}</th>
    <td>{{ job.description }}</td>
    <td>{{ ', '.join(job.months) }}</td>
    <td><button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal"
                id="edit-job-{{ job.id }}" data-target="#popup-div-edit-{{ job.id }}">Edit</button></td>
</tr>
{% endfor %}
{% endblock %}