{% extends "base.html" %}
{% if pagetype is not defined %}{% set pagetype = "(page type error)" %}{% endif %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
{{ super() }}
This is the {{ pagetype }}s page. <br />
<a href="{{ url_for('index') }}">Go back to the main page</a> <br />

{# Begin popup code #}
<button id="popupBtn">Add a new {{ pagetype }}</button>

<div id="popupDiv" class="popup">
    <div class="popupContent">
        <span class="closeBtn">&times;</span>
        <form method="post" class="form-horizontal">
            <h3>Add a new {{ pagetype }}</h3><br />
            {% block formcontents %}
            {% endblock %}
            <br />
            <input type="submit" name="submit{{ pagetype }}" value="Add {{ pagetype }}">
        </form>
    </div>
</div>
{# End popup code #}

{% block bottom %}
{{ super() }}
<script src="{{ url_for('static', filename='scripting.js') }}"></script>
{% endblock %}
{% endblock %}