{% extends "base.html" %}
{% set title = "Plants" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='plants.css') }}">
{% endblock %}

{% block body %}
{{ super() }}
This is the plants page. <br />
<a href="{{ url_for('index') }}">Go back to the main page</a> <br />

{# Begin popup code #}
<button id="popupBtn">Add a new plant</button>

<div id="popupDiv" class="popup">
    <div class="popupContent">
        <span class="closeBtn">&times;</span>
        <p>This is the dialogue box for adding a new plant.</p>
        <br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
{# End popup code #}

{% block end %}
{{ super() }}
<script src="{{ url_for('static', filename='plants.js') }}"></script>
{% endblock %}
{% endblock %}