{% extends "page.html" %}
{% set title = "Plants" %}
{% set pagetype = "plant" %}
{% block formcontents %}
{{ super() }}
<div class="form-group row">
    <label class="control-label" for="plantname">Name:</label>
    <input type="text" class="form-control" id="plantname" name="plantname" placeholder="Enter plant name">
</div>
<div class="form-group row">
    <label class="control-label" for="latinname">Latin name:</label>
    <input type="text" class="form-control" id="latinname" name="latinname" placeholder="Enter latin name">
</div>
{% endblock %}