{% extends "page.html" %}
{% set title = "Plants" %}
{% set pagetype = "plant" %}

{% macro formcontents(plant=None) %}
<!--suppress HtmlUnknownAttribute -->
<div class="form-group row">
    <label class="control-label" for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter plant name"
        value="{% if plant is not none %}{{ plant.name }}{% endif %}">
</div>
<div class="form-group row">
    <label class="control-label" for="latin-name">Latin name:</label>
    <input type="text" class="form-control" id="latin-name" name="latin-name" placeholder="Enter latin name"
        value="{% if plant is not none %}{{ plant.latin_name }}{% endif %}">
</div>
<div class="form-group row">
    <label class="control-label" for="blooming-period">Blooming period:</label>
    <input type="text" class="form-control" id="blooming-period" name="blooming-period" placeholder="Enter blooming period"
        value="{% if plant is not none %}{{ plant.blooming_period }}{% endif %}">
</div>
<div class="form-group row">
    {% for job in job_list %}
    <div class="col-12 col-sm-6 col-md-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   id="{% if plant is not none %}edit-{{ plant.id }}-{% endif %}{{ job.id }}"
                   name="job-{{ job.id }}" {% if plant is not none and job.id in plant.mids %}checked{% endif %}>
            <label class="custom-control-label" for="{% if plant is not none %}edit-{{ plant.id }}-{% endif %}{{ job.id }}">{{ job.name }}</label>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% block thead %}
{{ super() }}
<th scope="col">Name</th>
<th scope="col">Latin name</th>
<th scope="col">Blooming period</th>
<th scope="col">Maintenance</th>
<th scope="col" style="width: 80px"></th>
{% endblock %}

{% block tbody %}
{{ super() }}
{% for plant in data %}
<tr>
    <th scope="row">{{ plant.name }}</th>
    <td>{{ plant.latin_name }}</td>
    <td>{{ plant.blooming_period }}</td>
    <td>{{ plant.jobs|map(attribute='name')|join(', ') }}</td>
    <td><button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal"
                id="edit-plant-{{ plant.id }}" data-target="#popup-div-edit-{{ plant.id }}">Edit</button></td>
</tr>
{% endfor %}
{% endblock %}